.card {
    margin: 25px;
}

.card-subtitle {
    display: flex;
    flex-direction: row;
}

h6 {
    margin-right: auto;
}

.Buttons {
    text-align: end;
}

.Buttons > button {
    margin: 5px;
}

.AlertContainter {
    position:fixed;
    bottom: 0px;
    width: 100%;
    z-index:9999;
}

.AlertContainter > .alert {
    margin: 10px;
}

.SearchContainer {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.SearchContainer > input {
    width: 80%;
    margin-right: 5px;
}

.SearchContainer > button {
    width: 20%;
    margin-left: 5px;
}
